<div *ngIf="user">
    <button class="serious-danger" (click)="delete()">Delete</button>
    <h2>Details for {{ user.first_name + ' ' + user.last_name }}</h2>
    <!--div *ngFor="let thing of user | keyvalue">
        {{ thing.key }}
        {{ thing.value }}
    </div-->
    <form #userDetailForm="ngForm">
        <div>
            <label>ID</label>
            <input [(ngModel)]="user.id" name="id" disabled>
        </div>
        <div>
            <label>First Name</label>
            <input [(ngModel)]="user.first_name" name="first_name" placeholder="First Name">
        </div>
        <div>
            <label>Last Name</label>
            <input [(ngModel)]="user.last_name" name="last_name" placeholder="Last Name">
        </div>
        <div>
            <label>Gender</label>
            <div class="radio">
                <input [(ngModel)]="user.gender" name="gender_male" type="radio" value="MALE">
                <label for="MALE">Male</label>
            </div>
            <div class="radio">
                <input [(ngModel)]="user.gender" name="gender_female" type="radio" value="FEMALE">
                <label for="FEMALE">Female</label>
            </div>
        </div>
        <div>
            <label>Order Total</label>
            <input [(ngModel)]="user.amount_string" name="amount_string">
        </div>
        <div class="action-buttons">
            <button class="good" (click)="save()">Save</button>
            <button class="mild-danger" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>
