<input #searchBox
       id="search-box"
       (input)="search(searchBox.value)"
       placeholder="Search by first/last name or order total" />
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Order Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users$ | async"
            [class.selected]="user === currentUser"
            routerLink="/users/{{ user.id }}">
            <td>
                <a routerLink="/users/{{ user.id }}">
                    {{ user.first_name + ' ' + user.last_name }}
                </a>
            </td>
            <td>
                {{ user.address | userAddress }}
            </td>
            <td>
                {{ user.order_total | currency }}
            </td>
        </tr>
    </tbody>
</table>
